<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Flask Blog</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<h1>Welcome to my Flask Blog</h1>

{% for post in blogposts %}
<div class="post">

    <p> <h2> {{ post['title'] }} </h2> </p>
    <p>written by {{ post['author'] }}</p>
    <p> {{ post['content'] }}</p>

</div>
{% endfor %}

</body>
</html>